*{
    box-sizing: border-box;
    font-family: arial;
    font-size: 1.2rem;
}

.main-container{
    display: grid;
    margin: 2em 2em;
    grid-template: 0.2fr 1fr / 0.5fr 1fr 1fr;
    grid-template-areas:
    "header header header"
    "cont cont cont";
}
.header-container{
    grid-area: header;
    display: grid;
    grid-template: 0.2fr / 0.5fr 1fr 1fr;
    grid-template-areas:
    "logo link link";
    align-items: end;
    
}
.logo-container{
    grid-area: logo;
    display: flex;
    justify-content: center;
}
.nav-link-container{
    grid-area: link;
    background-color: #0f2e4f;
    flex-wrap: wrap;
    display: flex;
    gap: 1em;
    justify-content: space-around;
    padding-top: 2em;
    border-radius: 2em;
    color: white;
}
.nav-link ul{
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    list-style-type: none;
}
.search-cont input{
    width: 80%;
    border-color: black;
}
.content-container{
    grid-area: cont;
    color: black;
}
.section1-container{
    width: 100%;
    overflow-x: auto;
}
.section1-nav-cont{
    display: flex;
    justify-content: space-between;
    margin: 2em auto;
}
.section2-container{
    width: 100%;
    overflow-x: auto;
    display: none;
}
.section2-nav-cont{
    display: flex;
    justify-content: space-between;
    margin: 2em auto;
}
.section3-container{
    width: 100%;
    overflow-x: auto;
    display: none;
}
.section3-nav-cont{
    display: flex;
    justify-content: space-between;
    margin: 2em auto;
}
.form-popup{
    position:fixed;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 1;
}
.update-popup{
    position:fixed;
    background: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 1;
    
}
.form-container{
    background-color: white;
    height: 80vh;
    margin: 5em 10em;
    display: grid;
    grid-template: 15% 15% 15% auto auto 10% / 1fr 1fr 1fr;
    grid-template-areas: 
    "control date req"
    "from doc req"
    "send stat act"
    "subject subject act"
    "subject subject act"
    "btn btn btn";
    border: 2px solid black;
    gap: 2em;
    padding: 3em 3em;
    overflow-y: auto;
}
.form-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 5em 5em;
    height: 50vh;
    z-index: 2;
}

.control-cont{
    grid-area: control;
}
.control-cont input{
    border-color: black;
}
.date-cont{
    grid-area: date;
}
.date-cont input{
    border-color: black;
}
.from-cont{
    grid-area: from;
}
.from-cont input{
    border-color: black;
}
.doc-cont{
    grid-area: doc;
}
.doc-cont input{
    border-color: black;
}
.send-cont{
    grid-area: send;
}
.send-cont input{
    border-color: black;
}
.sub-cont{
    grid-area: subject;
    
}
.sub-cont textarea{
    height: 100%;
    width: 1fr;
    border-color: black;
    resize: none;
}
.req-cont{
    grid-area: req;
    
}
.req-cont textarea{
    height: 100%;
    width: 1fr;
    border-color: black;
    resize: none;
}
.act-cont{
    grid-area: act;
}
.act-cont textarea{
    height: 100%;
    width: 1fr;
    border-color: black;
    resize: none;
}
.stat-cont{
    grid-area: stat;
}
.stat-cont input{
    border-color: black;
}
.btn-foot{
    grid-area: btn;
    display: flex;
    justify-content: space-between;
}
.btn-foot input{
    border-color: black;
}
.btn-foot-in{
    display: flex;
    align-items: center;
    gap: 1em;
}